main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    
    
}

#header{
    background-color:lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid black;
    padding: 2em;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

#form{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid black;
    padding: 2em;
    margin: auto;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    padding: 2em;
    border-radius: 2em;
}

h1{
    font-size: 3em;
}

